.RData
.Rhistory
.Rproj.user/
*.Rproj

logs/
tmp/

data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md
data/gis/*
!data/gis/README.md

results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/trees/*
!results/trees/.gitkeep
*.rds
*.rda

.DS_Store
Thumbs.db
